@font-face {
  font-family: myFirstFont;
  src: url(/Pixel.ttf);
}
@font-face {
  font-family: mySecondFont;
  src: url(/Colus-Regular.ttf);
}

html,
body {
  cursor: url('/new_cursor.png'), auto;	
  background-color: #341c27;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
@media (max-width: 500px){

  #imageOver{
    margin: auto;
    width: 350px;
    height: 200px;
    background-size: 250px;
  }
  .titleDiv{
    max-height: 60px;
  }
  .optionB{
    width: 300px;
    max-height: 200px;
    background-size: 250px;
  }
  
}
@media (min-width: 769px) and (max-width: 900px)  { 
  
}
.tlo
{
  width: 459px; 
  height: 824px;
  background-image: url("/console.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.main
{
  margin-left: 1%;
  margin-right: 1%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #ebede9 ;
  border-left: 4px solid #4d2b32;
  border-right: 4px solid #4d2b32;
  outline: 2px solid #ad7757;
}
.homeContainer
{
  display: flex;
  
}

.gameboy
{
 
  padding: 2%;
  margin: auto;
 

}

.pClass{
  letter-spacing: 1px;
  text-shadow: 2px 2px #000000;
  font-size: 1.65rem;
  text-align: center;
  font-family: myFirstFont;
  color: #c7cfcc;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  text-decoration: none;
}
.pClass2{
  letter-spacing: 1px;
  text-shadow: 2px 2px #000000;
  font-size: 1.45rem;
  text-align: center;
  font-family: myFirstFont;
  color: #c7cfcc;
  text-shadow: -1px -1px 0 white, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  text-decoration: none;
  
}

.pClass3{
  padding: 10px;
  font-weight: bold;
  font-size: 1.1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-shadow: 1px 1px 2px gray;
  text-decoration: none;
  
}

.pClass4{
  text-shadow: 2px 2px #000000;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: -1px -1px 0 #8860D0, 1px -1px 0 #8860D0, -1px 1px 0 #8860D0, 1px 1px 0 #8860D0;
  text-decoration: none;
}

.containerDiv
{
  margin: 2%;
  text-align: center;
  max-width: 50%;

}
.mainPageContainerDiv
{
  text-align: center;
  max-width: 70%;

}

.titleDiv
{
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 2px solid #819796;

}
.titleDiv
{
  background-color: white;
}
.titleDiv
{
 
  color: white;

}
.arrowButtonContainerHide
{
  display: none;
}
.arrowButtonContainerShow
{
  display: block;
}
.aboutTitleDiv
{
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #c7cfcc;
  border-top:  2px solid lightgray;

}
.aboutTitleDiv > a:hover
{
  color: #a03c0c;
  text-shadow: 2px 2px #f4d29c;
}
.aboutTitleDiv:hover
{
 
  background-color: white;

}
.aboutTitleDiv > .pClass
{
 
  color: white;

}
.aboutTitleDiv:hover > .pClass
{
 
  color: white;

}
.descriptionDiv
{
  padding: 10px;
  margin-top: 10px;
  background-color: #84CEEB;
  border: 2px solid white;
  outline: 2px solid #5680E9;

}
.aboutDescriptionDiv
{

  width: 85%;
  padding: 10px;
  margin-top: 10px;

}

.aboutImg
{
  
  display: flex;
  justify-content: flex-start;
  
  width: 200px;
  height: 200px;
  padding: 10px;
  margin-top: 10px;
  background-size: 197px;
  border: 2px solid gray;
  box-shadow: 0 0 0 5pt grey;

  transition: .1s;
}
#imageButton
{
  cursor: url("/cursor_button.png"), auto;	
}
#aboutConainer
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#CS_proj_img{

  width: 900px;
  height: 527px;
  background-image: url("/game_screen.png");
  background-size: 900px;
  background-repeat: no-repeat;
  
  
}
#CS_proj_img2{

  width: 900px;
  height: 527px;
  background-image: url("/cube_menu.png");
  background-size: 900px;
  background-repeat: no-repeat;
  
}
#CS_proj_img3{

  width: 900px;
  height: 527px;
  background-image: url("/ball_menu.png");
  background-size: 900px;
  background-repeat: no-repeat;
  
}
#CS_proj_img4{

  width: 900px;
  height: 527px;
  background-image: url("/bug_game_screen_1.png");
  background-size: 900px;
  background-repeat: no-repeat;
  
}
#arrowButton
{
  cursor: url("/cursor_button.png"), auto;	
  margin:auto;
  width: 44px;
  height: 72px;
}
#arrowButton1
{
  cursor: url("/cursor_button.png"), auto;	
  margin:auto;
  width: 44px;
  height: 72px;
}
#arrowButton2
{
  cursor: url("/cursor_button.png"), auto;	
  margin:auto;
  width: 44px;
  height: 72px;
  display: none;
  
}
#arrowButton:hover
{
  opacity: 0.7;
}

.portrait
{
  background-image: url("/portrait_new_v2.png");
}
.ytPortrait
{
  background-image: url("/yt_portrait.png");
}
.twitterPortrait
{
  background-image: url("/yt_portrait.png");
}

a
{
  cursor: url('/cursor_button.png'), auto;	
  text-align: center;
  font-family: myFirstFont;
  color: black;
  opacity: 1;
  text-decoration: none;
}
#myLogo
{
  
  cursor: url('/cursor_button.png'), auto;
  width: 100px;
  height: 50px;
  background-image: url("/logo.png");
  background-repeat: no-repeat;
  background-size: 95px;
  
}
.optionA
{
  display: block;
  width: 1080px;
  height: 720px;
  background-image: url("/background_transparent.png");
  background-repeat: no-repeat;
  background-size: 1080px;
}
.TransparentBoxOn{
  height: 300px;
}
.TransparentBoxOff{
  height: 5px;
}
.optionB
{
  display: block;
  width: 1080px;
  height: 720px;
  z-index: 30;
  background-image: url("/bug_game_screen_1.png");
  background-repeat: no-repeat;
  background-size: 1080px;
}
#galleryContainer
{ 
    height: 300px;
}
.imageUnderHide
{
  background: url("/background_transparent.png");
  z-index: 10;
}
.imageUnderShow
{
  background: url("/background_transparent.png");
  z-index: 20;
}

#myLogo:hover
{
  width: 100px;
  height: 50px;
  background-image: url("/logo.png");
  background-size: 100px;
}

.img
{
  max-width: 70%;
  margin:auto;
  text-align: center;
}
.yticon
{
  cursor: url('/cursor_button.png'), auto;
  opacity: 1;
  padding-left: 15px;
  padding-right: 15px;
}
.yticon:hover
{
  opacity: 0.7;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.copyIcon
{
  cursor: url('/copy_icon_small.png'), auto;
}
.icon
{
  color: white;
  cursor: url('/cursor_button.png'), auto;
  opacity: 1;
  float: left;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.icon:hover
{
  opacity: 0.5;
  float: left;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#homeButton
{
  cursor: url('/cursor_button.png'), auto;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 5px 5px 5px black;
  color: white;
  text-shadow: 2px 2px #a03c0c;
  text-align: center;
  padding-top: 0.25rem;
  font-family: myFirstFont;
  font-size: 1.125rem;
  background-image: url("/menu_button_yellow.png");
  width: 127px;
  height: 40px;
}
#homeButton:hover
{
  color: #a03c0c;
  text-shadow: 2px 2px #ffffff;
  background-image: url("/menu_button_yellow_hover.png");
  
}
#projButton
{
  cursor: url('/cursor_button.png'), auto;	
  display: inline-block;
  padding-left: 10px;
  padding-right: 20px;
  box-shadow: 5px 5px 5px black;
  color: white;
  text-shadow: 2px 2px #a03c0c;
  text-align: center;
  padding-top: 0.25rem;
  font-family: myFirstFont;
  font-size: 1.125rem;
  background-image: url("/menu_button_yellow.png");
  width: 127px;
  height: 40px;
}

#projButton:hover
{
  color: #a03c0c;
  text-shadow: 2px 2px #ffffff;
  background-image: url("/menu_button_yellow_hover.png");

}

#headerBg
{
  height: 128px;
  background-image: url("/banner_bg.png");
  background-repeat: no-repeat;
  background-size: 1680px;
  background-color:  white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 3px solid #4d2b32;
  border-left: 3px solid #4d2b32;
  border-bottom: 3px solid #4d2b32;
  box-shadow: 0 0 0 1pt #ad7757;
    outline: none;
    transition: .1s;

  
}

#footerBg
{
  height: 136px;
  background-image: url("/footer_bg_2.png");
  background-repeat: no-repeat;
  background-size: 1580px, 100px;
  background-color:  #5680E9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-right: 3px solid #4d2b32;
  border-left: 3px solid #4d2b32;
  border-top: 3px solid #4d2b32;
  box-shadow: 0 0 0 1pt #ad7757;
    outline: none;
    transition: .1s;
  
}


.menu
{
 
  list-style: none;
  color: white;
  text-shadow: 2px 2px black;
  margin: 0;
  padding: 10px;
  font-size: 15px;
  min-height: 38px;
  line-height: 200%;

}
.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.1 ease-in-out;
}

.downMenu a
{
  color: #f4d29c;
  text-shadow: -1px -1px 0 #a03c0c, 1px -1px 0 #a03c0c, -1px 1px 0 #a03c0c, 1px 1px 0 #a03c0c;
  
  font-family: myFirstFont;
  opacity: 1;
  text-decoration: none;
}

.downMenu a:hover
{
  color: #a03c0c;
  text-shadow: 2px 2px #f4d29c;
}

*
{
    box-sizing: border-box;
}

